<header>
  <div>name</div>
  <div>profile</div>
</header>

<main>

  <div class="container">
    <%= form_with model: VitalSign.new, url: vital_signs_path do |f| %>
      <ul class="slider">
        <li>
          <div class="temperature-field">
            <%= f.number_field :body_temperature, placeholder: "体温",style: "text-align: center;", min: 35.0, step: 0.1  %>
          </div>
        </li>
        <li>
          <div class="blood-CSS">
            <%= f.number_field :blood_pressure_systolic, placeholder: "血圧・上",style: "text-align: center;" %>
            <span>/</span>
            <%= f.number_field :blood_pressure_diastolic, placeholder: "血圧・下",style: "text-align: center;" %>
          </div>
        </li>
        <li>
          <div>
            <%= f.number_field :pulse, placeholder: "脈拍",style: "text-align: center;" %>
          </div>
        </li>
        <li>
          <div class="breathing-field">
            <%= f.number_field :breathing, placeholder: "酸素濃度",style: "text-align: center;" %>
          </div>
        </li>
        <li>
          <div class="note">
            <%= f.text_area :note, placeholder: "memo" %>
          </div>
        </li>
        <li>
          <%= f.submit "登録", class: "submit-btn" %>
        </li>
        <li>
          <% if action_name == "index" %>
            <%= f.hidden_field :measured_at, value: Time.current %>
          <% else %>
            <%= f.datetime_select :measured_at %>
          <% end %>
        </li>
      </ul>
    <% end %>

    <div class="pictogram" style="background-image: url(<%= asset_path 'cat_cake2.png' %>)"></div>

  </div>
  <div class="container2">
  </div>
  
  
</main>