<main>
  <header>
    <div>name</div>
    <div>profile</div>
  </header>



  <div class="container">
    <ul class="slider">
     <%= form_with model: VitalSign.new, url: vital_signs_path do |f| %>
        <li>
          <div class="list">
            <%= f.number_field :body_temperature, placeholder: "体温" %>
          </div>
        </li>
        <li>
          <div class="blood-CSS">
            <%= f.number_field :blood_pressure_systolic, placeholder: "血圧・上" %>
            <span>/</span>
            <%= f.number_field :blood_pressure_diastolic, placeholder: "血圧・下" %>
          </div>
        </li>
        <li>
          <div class="list">
            <%= f.number_field :pulse, placeholder: "脈拍" %>
          </div>
        </li>
        <li>
          <div class="list">
            <%= f.number_field :breathing, placeholder: "呼吸" %>
          </div>
        </li>
        <li>
          <div class="list">
            <%= f.text_area :note, placeholder: "memo" %>
          </div>
        </li>
        <li>
          <% if action_name == "index" %>
            <%= f.hidden_field :measured_at, value: Time.current %>
          <% else %>
            <%= f.datetime_select :measured_at %>
          <% end %>
        </li>
        <%= f.submit "登録" %>
      <% end %>
    </ul>


    <div>
      
    </div>
    
  </div>

  
</main>