<div class="profile-contents">
  
  <div class="profile-select">
    <div>profile</div>
    <%= form_with url: select_profiles_path, method: :post, local: true do %>
      <%= select_tag :profile_id,
        options_from_collection_for_select(@profiles, :id, :nickname, session[:profile_id]) %>
      <%= submit_tag "切り替え" , class:"submit-button"%>
    <% end %>
  </div>



  <% if @selected_profile.present? %>
      <div class="profile-card">
        <div class="profile-item">
          <span class="label">ニックネーム</span>
          <span class="value"><%= @selected_profile.nickname %></span>
        </div>
        <div class="profile-item">
          <span class="label">性別</span>
          <span class="value"><%= @selected_profile.gender %></span>
        </div>
        <div class="profile-item">
          <span class="label">身長</span>
          <span class="value"><%= @selected_profile.height %> cm</span>
        </div>
        <div class="profile-item">
          <span class="label">体重</span>
          <span class="value"><%= @selected_profile.weight %> kg</span>
        </div>
        <div class="profile-item">
          <span class="label">病歴</span>
          <span class="value"><%= @selected_profile.medical_history %></span>
        </div>
        <div class="profile-item">
          <span class="label">誕生日</span>
          <span class="value"><%= @selected_profile.birthday %></span>
        </div>
        <div class="profile-item">
          <span class="label">年齢</span>
          <span class="value"><%= @selected_profile.age %> 歳</span>
        </div>
      </div>
      <div class="profile-button">
        <%= link_to '新規作成', new_profile_path(@selected_profile.id),class: "sticker new-button" %>
        <%= link_to '編集', edit_profile_path(@selected_profile.id),class: "sticker edit-button" %>
        <%= link_to '削除', profile_path(@selected_profile.id), data: { turbo_method: :delete },class: "sticker delete-button" %>
      </div>
 
  <% end %>
</div>