<div class="contents">
  <% @profiles.each do |profile| %>
    <ul>
      <li><%= profile.nickname %></li>
      <li><%= profile.age %></li>
      <li><%= profile.gender %></li>
      <li><%= profile.height %></li>
      <li><%= profile.weight %></li>
      <li><%= profile.medical_history %></li>
      <li><%= profile.birthday %></li>





    </ul>
  <% end %>
</div>