<div class="contents">
  <% @profiles.each do |profile| %>
    <div class="profile-card">
      <div class="profile-item">
        <span class="label">ニックネーム</span>
        <span class="value"><%= profile.nickname %></span>
      </div>
      <div class="profile-item">
        <span class="label">性別</span>
        <span class="value"><%= profile.gender %></span>
      </div>
      <div class="profile-item">
        <span class="label">身長</span>
        <span class="value"><%= profile.height %> cm</span>
      </div>
      <div class="profile-item">
        <span class="label">体重</span>
        <span class="value"><%= profile.weight %> kg</span>
      </div>
      <div class="profile-item">
        <span class="label">病歴</span>
        <span class="value"><%= profile.medical_history %></span>
      </div>
      <div class="profile-item">
        <span class="label">誕生日</span>
        <span class="value"><%= profile.birthday %></span>
      </div>
      <div class="profile-item">
        <span class="label">年齢</span>
        <span class="value"><%= profile.age %> 歳</span>
      </div>
    </div>

    <div class="edit-button">
      <%= link_to '新規作成', new_profile_path(profile.id) %>
    </div>
    <div class="edit-button">
      <%= link_to '編集', edit_profile_path(profile.id) %>
    </div>
    <div class="delete-button">
      <%= link_to '削除', profile_path(profile.id), data: { turbo_method: :delete } %>
    </div>
  <% end %>
</div>