<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1 class="grid-6">
        <% if user_signed_in? %>
          <% if @profile.present? %>
            <%= @profile.nickname %> さん
          <% else %>
            プロフィール未登録 さん
          <% end %>
        <% else %>
          ゲストさん、ようこそ！
        <% end %>

      </h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
          
          <% if current_page?(new_profile_path) || current_page?(profiles_path) %>
            <%= link_to "TOP", root_path %>
          <% elsif current_user.profiles.exists? %>
            <%= link_to "プロフィール", profiles_path %> 
            <%= link_to "新しいプロフィール", profiles_path %> 
          <% else %>
            <%= link_to "プロフィール登録", new_profile_path %>
          <% end %>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
      <% end %>
    </header>


    <%= yield %>

    <footer>
      
    </footer>
  </body>
</html>
